/* General styles - put these straight into your stylesheet */

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

/* Selectors to be matched up with rulesets */

/* Rulesets to be matched up with selectors */
.card {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: yellow;
  border: 0.2em solid black;
  border-radius: 1.5em;
}

.card header {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
  height: 30px;
  padding: 10px;
}

.card footer {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
  height: 20px;
  padding: 10px;
}

h2, p {
  margin: 0;
}

p {
  font-size: 15px;
}

h2 {
  font-size: 20px;
}

article {
  height: 120px;
  background-color: rgba(0, 0, 0, .1);
}
#wolfpng {
  max-height: 100%;
  float: right;
}
